:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.wrapper {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 15px;
}

.header {
  max-width: 400px;
  text-align: center;
}

.dice {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  border: none;
  background-color: white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
}
.dice span {
  font-size: 2rem;
}

.dice.colored {
  background-color: #59e391;
}

.submit {
  grid-column: 2 / span 3;
  grid-row: 6;
  border-radius: 8px;
  padding: 15px 25px;
  font-size: 1.5rem;
  font-family: "Karla", sans-serif;
  font-weight: bold;
  cursor: pointer;

  border: 1px solid rgb(72, 67, 200);
  background-color: rgb(72, 67, 200);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);

  color: beige;
  transition: all 0.3s ease-in;
}

.submit:hover {
  border-color: rgb(61, 57, 165);
  background-color: rgb(61, 57, 165);

  transition: all 0.3s ease-in;
}

.submit:focus {
  border-color: rgb(61, 57, 165);
  background-color: rgb(61, 57, 165);
  outline: 3px solid rgb(61, 57, 165);
  outline-offset: 3px;
}

.submit:active {
  border-color: rgb(50, 47, 133);
  background-color: rgb(50, 47, 133);
  transition: all 0.3s ease-in;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
